<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title>Buyer Interface</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
    <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Filter by Accommodation Type</ion-label>
            <ion-select placeholder="Select Type" [(ngModel)]="selectedAccommodationType" (ionChange)="handleAccommodationTypeChange($event.detail.value)" multiple>
              <ion-select-option value="">All Types</ion-select-option>
              <ion-select-option *ngFor="let type of accommodationTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>            
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <!-- Other filters -->
      
          <!-- Accommodation type filter buttons -->
          <ion-button (click)="setAccommodationType('Residential')">Residential</ion-button>
          <ion-button (click)="setAccommodationType('Backpackers Hotel')">Backpackers' Hotel</ion-button>
          <ion-button (click)="setAccommodationType('Students Hotel')">Students' Hotel</ion-button>
          <ion-button (click)="setAccommodationType('Hotel')">Hotel</ion-button>
          <ion-button (click)="setAccommodationType('Serviced Apartment')">Serviced Apartment</ion-button>
          <ion-button (click)="setAccommodationType('Workers Dormitories')">Workers' Dormitories</ion-button>
          <!-- Add more buttons as needed -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Filter by Region</ion-label>
            <ion-select placeholder="Select Region" [(ngModel)]="selectedRegion" (ionChange)="handleRegionChange($event.detail.value)"multiple>
              <ion-select-option value="">All Types</ion-select-option>
              <ion-select-option *ngFor="let type of regionTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>            
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <!-- Tenure type filter buttons -->
          <ion-button (click)="setRegion('OCR')">OCR</ion-button>
          <ion-button (click)="setRegion('CCR')">CCR</ion-button>
          <ion-button (click)="setRegion('RCR')">RCR</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item >
            <ion-label>Filter by District</ion-label>
            <ion-select placeholder="Select Type" [(ngModel)]="selectedDistrict" (ionChange)="handleDistrictChange($event.detail.value)" multiple>
              <ion-select-option value="">All Types</ion-select-option>
              <ion-select-option *ngFor="let type of districtTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>            
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Min Budget</ion-label>
            <ion-input type="number" [(ngModel)]="minPrice" (ionChange)="handlePriceChange()"></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col size="6">
          <ion-item>
            <ion-label>Max Budget</ion-label>
            <ion-input type="number" [(ngModel)]="maxPrice" (ionChange)="handlePriceChange()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <!-- Other filters -->
      
          <!-- Budget filter buttons -->
          <ion-button (click)="setBudgetRange(0, 10000)">0-10,000</ion-button>
          <ion-button (click)="setBudgetRange(10001, 20000)">10,001-20,000</ion-button>
          <ion-button (click)="setBudgetRange(20001, 30000)">20,001-30,000</ion-button>
          <ion-button (click)="setBudgetRange(30001, 40000)">30,001-40,000</ion-button>
          <ion-button (click)="setBudgetRange(40001, 50000)">40,001-50,000</ion-button>
          <ion-button (click)="setBudgetRange(50001, 60000)">50,001-60,000</ion-button>
          <!-- Add more buttons as needed -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Min Number of Rooms</ion-label>
            <ion-input type="number" [(ngModel)]="minRooms" (ionChange)="handleRoomChange()"></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col size="6">
          <ion-item>
            <ion-label>Max Number of Rooms</ion-label>
            <ion-input type="number" [(ngModel)]="maxRooms" (ionChange)="handleRoomChange()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <!-- Other filters -->
      
          <!-- Budget filter buttons -->
          <ion-button (click)="setRoomRange(0, 10)">0-10</ion-button>
          <ion-button (click)="setRoomRange(11, 30)">11-30</ion-button>
          <ion-button (click)="setRoomRange(31, 40)">31-40</ion-button>
          <ion-button (click)="setRoomRange(41, 60)">41-60</ion-button>
          <!-- Add more buttons as needed -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Filter by Tenure</ion-label>
            <ion-select placeholder="Select Tenure" [(ngModel)]="selectedTenure" (ionChange)="handleTenureChange($event.detail.value)">
              <ion-select-option value="">All Types</ion-select-option>
              <ion-select-option *ngFor="let type of tenureTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>            
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <!-- Tenure type filter buttons -->
          <ion-button (click)="setTenure('99 Years')">99 Years</ion-button>
          <ion-button (click)="setTenure('60 Years')">60 Years</ion-button>
          <ion-button (click)="setTenure('Freehold')">Freehold / 999 Years</ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Filter</ion-label>
            <ion-toggle [(ngModel)]="filter" (ionChange)="handleFilterYes()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- New row for displaying the number of results -->
      <ion-row *ngIf="allFiltersFilled()" class="result-count-row">
        <ion-col>
          <ion-item lines="none" class="result-count-item">
            <ion-label>Total Results: {{ filteredFBPostals.length }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- New row for displaying filtered results -->
      <ion-row *ngIf="allFiltersFilled()">
        <ion-col>
          <ion-list>
            <!-- Iterate over filteredFBPostals to display each postal -->
            <ion-item *ngFor="let postal of filteredFBPostals" [routerLink]="['/', 'units', postal.postal]">
              <ion-thumbnail slot="start">
                <ion-img [src]="postal.imageUrl || 'assets/placeholders/property.jpeg'"></ion-img>
              </ion-thumbnail>
              <ion-label *ngIf="postal.name !== undefined">
                <h2>{{ postal.name }}</h2>
                <p>Singapore {{ postal.postal }}</p>
                <p>Asking Price: {{ postal.askingPrice }}</p>
                <p>District: {{ postal.district }}</p> <!-- Use the actual properties of your fbPostal object -->
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-list *ngIf="result">
            <ion-item class="custom-color">
              Similar Places:
            </ion-item>
            
            <div *ngIf="findRecs.length == 0">
              <ion-item>
                Currently Unavailable
              </ion-item>
            </div>
            
            <div *ngIf="findRecs.length != 0">
              <ion-item *ngFor="let recPlace of findRecs">
                {{recPlace}}
              </ion-item>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  