<!-- contact-form.component.html -->
<div>
  <h2>{{ message }}</h2>

  <div style="margin-bottom: 20px;"></div>

  <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
      <!-- Your form fields for collecting contact details go here -->
      <!-- For example, you might have an input field for the contact number -->
      <label for="contactNumber">Contact Number</label>
      <input type="tel" id="contactNumber" formControlName="contactNumber"class="centered-input">
      
      <!-- Add any other necessary form fields -->

      <button type="submit">Submit</button>
      <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
