<ion-header>
  <ion-toolbar>
    <ion-title style>User Type Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding: 16px;">
  <h2 style="font-size: 20px; margin-bottom: 20px; text-align: center;">Please enter your details for verification</h2>
    
  <ion-item>
    <ion-label position="floating" style="font-size: 18px;">Full Name</ion-label>
    <ion-input type="text" required style="font-size: 18px;"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating" style="font-size: 18px;">License Number</ion-label>
    <ion-input type="text" required style="font-size: 18px;"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating" style="font-size: 18px;">Agency Name</ion-label>
    <ion-input type="text" required style="font-size: 18px;"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating" style="font-size: 18px;">Phone Number</ion-label>
    <ion-input type="tel" required style="font-size: 18px;"></ion-input>
  </ion-item>
  
  <ion-button (click)="verifyUser()" expand="block">Submit Verification</ion-button>
  
</ion-content>
