<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" color="danger" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Place</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="addBlockForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Project Name</ion-label>
              <ion-input 
                type="text"  
                formControlName="projectName"
              ></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Postal Code</ion-label>
              <ion-input 
                type="text"
                formControlName="postalCode"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Land Area</ion-label>
              <ion-input 
                type="text"
                formControlName="landArea"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Gross Floor Area</ion-label>
              <ion-input 
                type="text"
                formControlName="grossFloorArea"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Tenure</ion-label>
              <ion-input 
                type="text"
                formControlName="tenure"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">No. of Rooms</ion-label>
              <ion-input 
                type="text"
                formControlName="numRooms"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">No. of Storey</ion-label>
              <ion-input 
                type="text"
                formControlName="numStorey"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Asking Price</ion-label>
              <ion-input 
                type="text"
                formControlName="askingPrice"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Price Per Room</ion-label>  
              <ion-input 
                type="text"
                formControlName="priceRoom"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">S$/GFA</ion-label>
              <ion-input 
                type="text"
                formControlName="GFA"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Room Rate</ion-label>
              <ion-input 
                type="text"
                formControlName="roomRate"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Net Operating Profit</ion-label>
              <ion-input 
                type="text"
                formControlName="netOperatingProfit"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Approved Usage</ion-label>
              <ion-input 
                type="text"
                formControlName="approvedUsage"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Location(MRT)</ion-label>
              <ion-input 
                type="text"
                formControlName="locationMRT"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Location(School)</ion-label>
              <ion-input 
                type="text"
                formControlName="locationSch"
              ></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button 
                (click)="uploadBlockImage()" 
                expand="block"
                >Upload Place Image
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button 
                type="submit" 
                (click)="submitAddBlock()" 
                expand="block"
                >Submit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
