<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" color="danger" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Place</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="addBlockForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Project Name</ion-label>
              <ion-input 
                type="text"  
                formControlName="projectName"
              ></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label position="floating">Postal Code</ion-label>
              <ion-input 
                type="text"
                formControlName="postalCode"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Land Area</ion-label>
              <ion-input 
                type="text"
                formControlName="landArea"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Gross Floor Area</ion-label>
              <ion-input 
                type="text"
                formControlName="grossFloorArea"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Tenure</ion-label>
              <ion-input 
                type="text"
                formControlName="tenure"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">No. of Rooms</ion-label>
              <ion-input 
                type="text"
                formControlName="numRooms"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">No. of Storey</ion-label>
              <ion-input 
                type="text"
                formControlName="numStorey"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Asking Price</ion-label>
              <ion-input 
                type="text"
                formControlName="askingPrice"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Price Per Room</ion-label>  
              <ion-input 
                type="text"
                formControlName="priceRoom"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">S$/GFA</ion-label>
              <ion-input 
                type="text"
                formControlName="GFA"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Room Rate</ion-label>
              <ion-input 
                type="text"
                formControlName="roomRate"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Net Operating Profit</ion-label>
              <ion-input 
                type="text"
                formControlName="netOperatingProfit"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Approved Usage</ion-label>
              <ion-input 
                type="text"
                formControlName="approvedUsage"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Location(MRT)</ion-label>
              <ion-input 
                type="text"
                formControlName="locationMRT"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">District</ion-label>
              <ion-select formControlName="district" single="true">
                <ion-select-option value="District 01 - Raffles Place, Marina, Cecil">District 01 - Raffles Place, Marina, Cecil</ion-select-option>
                <ion-select-option value="District 02 - Tanjong Pagar, Chinatown">District 02 - Tanjong Pagar, Chinatown</ion-select-option>
                <ion-select-option value="District 03 - Tiong Bahru, Alexandra, Queenstown">District 03 - Tiong Bahru, Alexandra, Queenstown</ion-select-option>
                <ion-select-option value="District 04 - Mount Faber, Telok Blangah, Harbourfront">District 04 - Mount Faber, Telok Blangah, Harbourfront</ion-select-option>
                <ion-select-option value="District 05 - Buona Vista, Pasir Panjang, Clementi">District 05 - Buona Vista, Pasir Panjang, Clementi</ion-select-option>
                <ion-select-option value="District 06 - Clarke Quay, City Hall">District 06 - Clarke Quay, City Hall</ion-select-option>
                <ion-select-option value="District 07 - Bugis, Beach Road, Golden Mile">District 07 - Bugis, Beach Road, Golden Mile</ion-select-option>
                <ion-select-option value="District 08 - Little India, Farrer Park">District 08 - Little India, Farrer Park</ion-select-option>
                <ion-select-option value="District 09 - Orchard Road, River Valley">District 09 - Orchard Road, River Valley</ion-select-option>
                <ion-select-option value="District 10 - Bukit Timah, Holland, Balmoral">District 10 - Bukit Timah, Holland, Balmoral</ion-select-option>
                <ion-select-option value="District 11 - Novena, Newton, Thomson">District 11 - Novena, Newton, Thomson</ion-select-option>
                <ion-select-option value="District 12 - Toa Payoh, Serangoon, Balestier">District 12 - Toa Payoh, Serangoon, Balestier</ion-select-option>
                <ion-select-option value="District 13 - Macpherson, Braddell">District 13 - Macpherson, Braddell</ion-select-option>
                <ion-select-option value="District 14 - Geylang, Paya Lebar, Sims">District 14 - Geylang, Paya Lebar, Sims</ion-select-option>
                <ion-select-option value="District 15 - Joo Chiat, Marina Parade, Katong">District 15 - Joo Chiat, Marina Parade, Katong</ion-select-option>
                <ion-select-option value="District 16 - Bedok, Upper East Coast, Siglap">District 16 - Bedok, Upper East Coast, Siglap</ion-select-option>
                <ion-select-option value="District 17 - Changi, Flora, Loyang">District 17 - Changi, Flora, Loyang</ion-select-option>
                <ion-select-option value="District 18 - Tampines, Pasir Ris">District 18 - Tampines, Pasir Ris</ion-select-option>
                <ion-select-option value="District 19 - Punggol, Sengkang, Serangoon Gardens">District 19 - Punggol, Sengkang, Serangoon Gardens</ion-select-option>
                <ion-select-option value="District 20 - Ang Mo Kio, Bishan, Thomson">District 20 - Ang Mo Kio, Bishan, Thomson</ion-select-option>
                <ion-select-option value="District 21 - Upper Bukit Timah, Ulu Pandan, Clementi Park">District 21 - Upper Bukit Timah, Ulu Pandan, Clementi Park</ion-select-option>
                <ion-select-option value="District 22 - Boon Lay, Jurong, Tuas">District 22 - Boon Lay, Jurong, Tuas</ion-select-option>
                <ion-select-option value="District 23 - Choa Chu Kang, Diary Farm, Hillview, Bukit Panjang, Bukit Batok">District 23 - Choa Chu Kang, Diary Farm, Hillview, Bukit Panjang, Bukit Batok</ion-select-option>
                <ion-select-option value="District 24 - Kranji, Lim Chu Kang, Tengah">District 24 - Kranji, Lim Chu Kang, Tengah</ion-select-option>
                <ion-select-option value="District 25 - Woodlands, Admiralty">District 25 - Woodlands, Admiralty</ion-select-option>
                <ion-select-option value="District 26 - Upper Thomson, Mandai">District 26 - Upper Thomson, Mandai</ion-select-option>
                <ion-select-option value="District 27 - Sembawang, Yishun, Admiralty">District 27 - Sembawang, Yishun, Admiralty</ion-select-option>
                <ion-select-option value="District 28 - Yio Chu Kang, Seletar">District 28 - Yio Chu Kang, Seletar</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Location(School)</ion-label>
              <ion-input 
                type="text"
                formControlName="locationSch"
              ></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button 
                (click)="uploadBlockImage()" 
                expand="block"
                >Upload Place Image
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button 
                type="submit" 
                (click)="submitAddBlock()" 
                expand="block"
                >Submit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
