<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/units"></ion-back-button>
    </ion-buttons>

    <ion-title>Hotel Details</ion-title>

    <ion-button 

    size="small" 
    color="tertiary"
    slot="end" 
    (click)="onEditBlockOptions()"
    >
    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="currPlace">

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <h6>{{ currPlace.name }}, Singapore {{ currPlace.postal }} </h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
        color="tertiary" 
        expand="block"
        (click)="addToFav(currPlace.postal)"
        >
        Add To Favourites
        </ion-button>
      </ion-col>
    </ion-row>

<!--    <ion-row>
      <ion-col>
        <ion-searchbar 
        color="light"
        placeholder="Enter unit number (Eg. 01-01)"
        [debounce]="500"
        (ionChange)="handleChange($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Land Area: {{currPlace.landArea}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Gross Floor Area: {{currPlace.grossFloorArea}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Tenure: {{currPlace.tenure}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>No. of Rooms: {{currPlace.numRooms}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>No. of Storey: {{currPlace.numStorey}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Asking price: {{currPlace.askingPrice}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Price Per Room: {{currPlace.priceRoom}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>S$/GFA: {{currPlace.GFA}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Room Rate: {{currPlace.roomRate}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Net Operating Profit: {{currPlace.netOperatingProfit}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Approved Usage: {{currPlace.approvedUsage}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Location(MRT): {{currPlace.locationMRT}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>Location(School): {{currPlace.locationSch}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>District: {{currPlace.district}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <ion-list>
          <ion-item>
            <!-- Inside your component template -->
            <a [href]="generateWhatsAppLink()" target="_blank">Contact our agent via WhatsApp</a>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngIf="result">
            <ion-label *ngIf="result.unitNumber === undefined">
              <h2>No results found</h2>
            </ion-label>

            <ion-label 
              *ngIf="result.unitNumber !== undefined"
              (click) = "onSelectUnit()"
            >
              <h2>#{{ result.unitNumber }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>