<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="currUser && currUser.userType === 'propertyAgent' || currUser.userType === 'admin'">Upload Listings</ion-title>
    <ion-title *ngIf="currUser && currUser.userType === 'regularUser' || currUser.userType === 'broker'">For Agents Only</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currUser && currUser.userType === 'propertyAgent' || currUser.userType === 'admin'; else notAuthorized">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar 
        color="light"
        placeholder="Enter postal code"
        [debounce]="500"
        (ionChange)="handleChange($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
          size="small" 
          color="tertiary"
          (click)="onAddBlock()"
          class="ion-margin-top"
        >
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          Add Hotel
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngIf="result">
            <ion-label *ngIf="result.name === undefined">
              <h2>No results found</h2>
            </ion-label>

            <ion-thumbnail *ngIf="result.name !== undefined" slot="start">
              <ion-img *ngIf="result.imageUrl" [src]="result.imageUrl"></ion-img>
              <ion-img *ngIf="!result.imageUrl" src="assets/placeholders/property.jpeg"></ion-img>
            </ion-thumbnail>
            
            <ion-label 
              *ngIf="result.name !== undefined"
              (click) = "onSelectPlace()"
            >
              <h2>{{ result.name }}</h2>
              <p>Singapore {{ result.postal}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list *ngIf="result">
          <ion-item class="custom-color">
            Similar Places:
          </ion-item>
          
          <div *ngIf="findRecs.length == 0">
            <ion-item>
              Currently Unavailable
            </ion-item>
          </div>
          
          <div *ngIf="findRecs.length != 0">
            <ion-item *ngFor="let recPlace of findRecs">
              {{recPlace}}
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #notAuthorized>
  <ion-content class="ion-padding unauthorized-content">
    <div class="unauthorized-container">
      <h2 class="unauthorized-heading">Interested in Selling Property?</h2>
      <p class="unauthorized-text">
        To access our seller interface and list properties, we invite you to register as a property agent.<br>
        Our team will be ready to assist you with the registration process and support you on your journey!
      </p>
      <ion-button routerLink="/auth" class="ion-margin-top">Register as Agent</ion-button>
    </div>
  </ion-content>
</ng-template>

<style>
  .unauthorized-content {
    --background: #f5f5f5; /* Change the background color if needed */
  }
  .unauthorized-container {
    max-width: 800px; /* or your preferred max-width */
    margin: 0 auto; /* centers the div */
    margin-top: 4%;
    text-align: center; /* centers the text */
    padding: 40px; /* Adds padding inside the container */
  }
  .unauthorized-heading {
    margin-bottom: 20px; /* Adds space below the heading */
  }
  .unauthorized-text {
    line-height: 1.6; /* Adjusts space between lines */
    margin-bottom: 20px; /* Adds space below the paragraph */
  }
</style>



